# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# NestJS / TypeScript
dist/
*.tsbuildinfo

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Turbo & Cache
.turbo/
.cache/

# Coverage
coverage/
.nyc_output/

# Custom private profile data
*.custom.json
profile.custom.json
